apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: jenkins
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: jenkins
        track: dev
    spec:
      containers:
        - name: jenkins
          image: dixithkumar/jenkins-local
          args:
          - client
          ports:
          - containerPort: 8080
          env:
          - name: RABBITMQ_DEFAULT_USER
            valueFrom:
              secretKeyRef:
                name: rabbitmq
                key: RABBITMQ_DEFAULT_USER
          - name: RABBITMQ_DEFAULT_PASS
            valueFrom:
              secretKeyRef:
                name: rabbitmq
                key: RABBITMQ_DEFAULT_PASS
          - name: RABBITMQ_DEFAULT_VHOST
            valueFrom:
              secretKeyRef:
                name: rabbitmq
                key: RABBITMQ_DEFAULT_VHOST
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: SENSU_CLIENT_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: SENSU_CLIENT_ADDRESS
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: SENSU_CLIENT_SUBSCRIPTIONS
            value: all
